{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<table class="table table-striped">
  <thead>
    <th>Symbol</th>
    <th>Name</th>
    <th>Shares</th>
    <th>Price</th>
    <th>Total</th>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4"></td>
      <td>${{userTotal}}</td>
    </tr>
  </tfoot>
  {% if transactions %}
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{transaction[0]}}</td>
      <td>{{transaction[1]}}</td>
      <td>{{transaction[2]}}</td>
      <td>{{transaction[3]}}</td>
      <td>{{"{:.2f}".format(transaction[2] * transaction[3])}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4">CASH</td>
      <td>${{userMoney}}</td>
    </tr>
  </tbody>
  {% endif %}
</table>
{% endblock %}
